.source-processing-title {
    color: var(--White, #fff);
    font-feature-settings: "liga" off, "clig" off;
    font-family: Fira Mono;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    white-space: nowrap;
    text-transform: uppercase;
}