.source-parent-wrapper {
    .source-child-wrapper {
        .overall-icons{
            .source-status{
                &.sources-done-status{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    .status-icon{
                        span{
                            .overlay{
                                animation: none;
                            }
                        }
                    }
                }
                &.sources-processing-status{
                    .status-icon{
                        span{
                            &.dots{
                                &:nth-child(1){
                                    animation-delay: 0s;
                                }
                                &:nth-child(2){
                                    animation-delay: 0.2s;
                                }
                                &:nth-child(3){
                                    animation-delay: 0.4s;
                                }
                            }
                        }
                    }
                }
            }
        }
        .source-top-progress-wrpper {
            padding: 8px;
            border: 1px solid var(--Grey-500);
            display: flex;
            align-items: center;
            gap: 10px;
            transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
            .progress-bar {
                display: flex;
                align-items: center;
                gap: 1px;
                padding: 4px;
                border: 1px solid var(--Grey-300);;
                .inner-block-bar{
                    position: relative;
                    &.bg-empty{
                        &::before{
                            content: "";
                            position: absolute;
                            inset: 0;
                            width: 11px;
                            height: 15px;
                            background-image: url(../../../public/block-empty.svg);
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                    &.is-loaded{
                        background: #FFFFFF;
                        &::before{
                            display: none;
                        }
                    }
                }
            }
            .inner-status-bar{
                display: flex;
                align-items: center;
                gap: 10px;
                .source-top-progress-text {
                    color: #ffffff;
                    font-feature-settings: "liga" off, "clig" off;
                    font-family: Fira Mono;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    &.is-number-load{
                        width: 32px;
                        &.is-processing{
                            color: var(--Blue-Main);;
                        }
                    }
                }
            }
            &.is-ready{
                &:hover{
                    background-color: rgba(2, 255, 86, 0.07);
                    border-color: rgba(2, 255, 86, 0.3);
                }
            }
            &.is-processing{
                gap: 5px;
                padding: 0 0 0 18px;
                margin-bottom: 20px;
                border: 0;
            }
        }
        .source-processing-title-icon {
            color: var(--Blue-Main);
            font-feature-settings: "liga" off, "clig" off;
            font-family: Fira Mono;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            letter-spacing: -2.76px;
        }        
        .details-box {
            position: relative;
            display: inline-block;
            padding: 14px 8px 8px;
            border: 1px dashed var(--Grey-500);
            &:before {
                content: "Details";
                position: absolute;
                top: -8px;
                left: 24px;
                background: var(--Grey-700);
                padding: 0 8px;
                font-weight: 700;
                color: var(--Grey-300);
                font-feature-settings: "liga" off, "clig" off;
                font-family: Fira Mono;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
            .sources-bullets {
                color: var(--Grey-300);
                font-feature-settings: "liga" off, "clig" off;
                font-family: Fira Mono;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                span{
                    color: #FFFFFF;
                }
            }
        }
    }
}