@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --Green-Main: #02ff56;
  --Blue-Main: 0, 107, 226;
  --Blue-Secondary: #00448f;
  --Blue-300: 185, 218, 255;
  --Blue-900: 14, 19, 36;
  --Blue-Grey-200: #e2e7ee;
  --Blue-Grey-300: 208, 215, 225;
  --Grey-300: 157, 157, 157;
  --Grey-500: #505154;
  --Grey-700: #1f2023;
  --text-h1: 68px;
  --text-h2: 56px;
  --text-badge: 9px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Sans', Helvetica, sans-serif;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}